doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
    <script>
      /*
          * 请修改下面js对象的内容以完成定制
          * 内容：请定制为需要提醒用户的内容,
          * 时间：请定制为事件发生的时间，格式为：年-月-日 时:分
          * advance：请定制为需要提前提醒用户的时间，0为准时提醒
          * url： 请定制为提醒用户访问的url链接
          * icon： 生成的icon的大小，可选值为1，2，3，尺寸分别为90*24，63*24，50*16
          * 注意：如果不使用标准接口，而是按需要自己生成链接地址
          * 请用encodeURIComponent对内容和时间进行编码。
          */
      var __qqClockShare = {
         content: "",
         time: "2014-11-11 9:00",
         advance: 0,
         url: "",
         icon: "1_1"
      };
    </script>
    <!-- 样式和脚本放在head最后, 方便后端套用 -->
    <!-- 本次活动的css  -->
    <link href="http://f2e.souche.com/assets/css/act/double11.css" rel="stylesheet" type="text/css" />
    <!-- 本次活动的js  -->
    <!-- <script src=""></script> -->
  body#double11
    #header
      .wrapper
        a.logo(href="http://www.souche.com")
          img(src="http://f2e.souche.com/assets/images/index/logo-new.png")
        .city.clearfix 
          span 杭州
          i 
        .search
          form.index-search
            input.search-text(type="text" name="keyword" placeholder="搜索你想要的车")
            button.search-submit(type="submit")
            .recom
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
              a(href="#") 索塔纳
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
        .phone-number
          img(src="http://f2e.souche.com/assets/images/index/phone-number.png")
    #nav
      .wrapper.clearfix
        .main-navs
          a.nav-item.active(href="#") 首页
          a.nav-item(href="#") 我要买车
          a.nav-item(href="#") 我要卖车
          a.nav-item(href="#") 主题精选
        .other-navs
          a.nsv-item(href="#") 登陆
          a.nsv-item(href="#") 微博登陆
          a.nsv-item(href="#" style="border-right:none;") QQ登陆
    #fix-slide
      .erweima
        .tit 微信扫码
        img(src="#")
      a.fix-item(href="#seckill-mod") 0元新车秒杀区
      a.fix-item(href="#half-off") 原价5折专区
      a.fix-item(href="#choice-car") 精品车专区
      a.fix-item(href="#huodong-rule") 活动规则
      a.fix-item(href="#") 回到顶部
    #content
      .head
        .timedown
          p 距离大搜车11.13购车狂欢节还有：
          p.show
            |<span class="downCounter" endYear="2014" endMonth="10" endDay="11" endHour="00" ><ins>00</ins><em>时</em><ins>00</ins><em>分</em><ins>00</ins>.<ins class="offMSec">0</ins><em>秒</em></span>
        .share
          .share-to
            span 分享到：
            .weibo
            .weixin
            .qq
          .rule
            a(href="#rules") 活动规则
            i ?
        .head-pic
        a.praise(href="#seckill-mod") 
        .miaosha
          img(src="../../assets/images/double11/miaosha.png") 
      .wrapper
        #seckill-mod.free-car
          .rule
            a(href="#huodong-rule") 红包规则
            i ?
          .free-head.clearfix
            .title
              em 0
              span 元秒杀新车区
            .number
              h1 
                span 已有
                em 10000
                span 人点赞分享
              h2 11月13日9:00正式开秒！
            .free-state
              .state-text 
                span 未开始
                span 未开始
                span 未开始
                span 未开始
              .state-pic
                span.active(data-index="1")
                span(data-index="2")
                span(data-index="3")
                span(style="margin-right:0px;",data-index="4")
              .time
                span 9:00
                span 12:00
                span 19:00
                span 21:00
          .free-wrap
            .slide-viewport
              ul
                li
                  //- 在dom里填充分享的文案 和 链接
                  //- help-getcar类 和 data-helpwho属性, 在"帮别人点赞送红包"的时候渲染
                  //- miaosha-box类 在“已秒杀”的时候渲染
                  .car-box.help-getcar(data-share-content="分享文案", data-share-link="http://分享链接" data-helpwho="double,I Spit on Your Grave")
                    .car-head
                      .car-time
                      .time
                        span 04
                        em :
                        span 55
                        em :
                        span 16
                      | <script>document.write('<a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm#content=' + encodeURIComponent(__qqClockShare.content) +'&time=' + encodeURIComponent(__qqClockShare.time) +'&advance=' + __qqClockShare.advance +'&url=' + encodeURIComponent(__qqClockShare.url) + '" target="_blank"><div class="remind"><i></i><span>开秒提醒我</span></div></a>');</script>
                    a.car-title(href="#") 雪铁龙-2014款-全新爱丽舍-1.6L-自动-时尚版
                    .car-wrap.clearfix
                      .car-pic
                        img(src="../../assets/images/double11/xuetielong.png")
                      .car-detail
                        .price
                          i ￥
                          span.price-num 7.98
                          em 万
                        p “ 法国车总在无论是在外观还是内饰的设计上给人以浪漫优雅的感觉。这辆体现的淋漓尽致。内饰工艺上法式双缝线打孔工巧，彰显身份和独到的品位。空间基本满意，舒适性可以和天籁相比。”
                        .car-recom
                          span —— 车神：暮雨
                          a(href="#") 更多推荐理由 >
                        .share.clearfix
                          .share-button 
                        .car-stock 库存5辆
                  .car-box.miaosha-box(data-share-content="", data-share-link-sina="",
                    data-share-link-weixin="", data-share-link-qq="",
                    data-share-link-qzone)
                    .car-head
                      .car-time
                      .time
                        span 04
                        em :
                        span 55
                        em :
                        span 16
                      | <script>document.write('<a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm#content=' + encodeURIComponent(__qqClockShare.content) +'&time=' + encodeURIComponent(__qqClockShare.time) +'&advance=' + __qqClockShare.advance +'&url=' + encodeURIComponent(__qqClockShare.url) + '" target="_blank"><div class="remind"><i></i><span>开秒提醒我</span></div></a>');</script>

                    a.car-title(href="#") 雪铁龙-2014款-全新爱丽舍-1.6L-自动-时尚版
                    .car-wrap.clearfix
                      .car-pic
                        img(src="../../assets/images/double11/xuetielong.png")
                      .car-detail
                        .price
                          i ￥
                          span.price-num 7.98
                          em 万
                        p “ 法国车总在无论是在外观还是内饰的设计上给人以浪漫优雅的感觉。这辆体现的淋漓尽致。内饰工艺上法式双缝线打孔工巧，彰显身份和独到的品位。空间基本满意，舒适性可以和天籁相比。”
                        .car-recom
                          span —— 车神：暮雨
                          a(href="#") 更多推荐理由 >
                        .share.clearfix
                          .share-button 
                        .car-stock 库存5辆
                li
                  .car-box(data-share-content="", data-share-link-sina="",
                    data-share-link-weixin="", data-share-link-qq="",
                    data-share-link-qzone
                  )
                    .car-head
                      .car-time
                      .time
                        span 04
                        em :
                        span 55
                        em :
                        span 16
                      | <script>document.write('<a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm#content=' + encodeURIComponent(__qqClockShare.content) +'&time=' + encodeURIComponent(__qqClockShare.time) +'&advance=' + __qqClockShare.advance +'&url=' + encodeURIComponent(__qqClockShare.url) + '" target="_blank"><div class="remind"><i></i><span>开秒提醒我</span></div></a>');</script>

                    a.car-title(href="#") 雪铁龙-2014款-全新爱丽舍-1.6L-自动-时尚版
                    .car-wrap.clearfix
                      .car-pic
                        img(src="../../assets/images/double11/xuetielong.png")
                      .car-detail
                        .price
                          i ￥
                          span.price-num 7.98
                          em 万
                        p “ 法国车总在无论是在外观还是内饰的设计上给人以浪漫优雅的感觉。这辆体现的淋漓尽致。内饰工艺上法式双缝线打孔工巧，彰显身份和独到的品位。空间基本满意，舒适性可以和天籁相比。”
                        .car-recom
                          span —— 车神：暮雨
                          a(href="#") 更多推荐理由 >
                        .share.clearfix
                          .share-button 
                        .car-stock 库存5辆
                  .car-box(data-share-content="", data-share-link-sina="",
                    data-share-link-weixin="", data-share-link-qq="",
                    data-share-link-qzone
                  )
                    .car-head
                      .car-time
                      .time
                        span 04
                        em :
                        span 55
                        em :
                        span 16
                      | <script>document.write('<a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm#content=' + encodeURIComponent(__qqClockShare.content) +'&time=' + encodeURIComponent(__qqClockShare.time) +'&advance=' + __qqClockShare.advance +'&url=' + encodeURIComponent(__qqClockShare.url) + '" target="_blank"><div class="remind"><i></i><span>开秒提醒我</span></div></a>');</script>

                    a.car-title(href="#") 雪铁龙-2014款-全新爱丽舍-1.6L-自动-时尚版
                    .car-wrap.clearfix
                      .car-pic
                        img(src="../../assets/images/double11/xuetielong.png")
                      .car-detail
                        .price
                          i ￥
                          span.price-num 7.98
                          em 万
                        p “ 法国车总在无论是在外观还是内饰的设计上给人以浪漫优雅的感觉。这辆体现的淋漓尽致。内饰工艺上法式双缝线打孔工巧，彰显身份和独到的品位。空间基本满意，舒适性可以和天籁相比。”
                        .car-recom
                          span —— 车神：暮雨
                          a(href="#") 更多推荐理由 >
                        .share.clearfix
                          .share-button 
                        .car-stock 库存5辆
                li
                  .car-box(data-share-content="", data-share-link-sina="",
                    data-share-link-weixin="", data-share-link-qq="",
                    data-share-link-qzone
                  )
                    .car-head
                      .car-time
                      .time
                        span 04
                        em :
                        span 55
                        em :
                        span 16
                      | <script>document.write('<a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm#content=' + encodeURIComponent(__qqClockShare.content) +'&time=' + encodeURIComponent(__qqClockShare.time) +'&advance=' + __qqClockShare.advance +'&url=' + encodeURIComponent(__qqClockShare.url) + '" target="_blank"><div class="remind"><i></i><span>开秒提醒我</span></div></a>');</script>

                    a.car-title(href="#") 雪铁龙-2014款-全新爱丽舍-1.6L-自动-时尚版
                    .car-wrap.clearfix
                      .car-pic
                        img(src="../../assets/images/double11/xuetielong.png")
                      .car-detail
                        .price
                          i ￥
                          span.price-num 7.98
                          em 万
                        p “ 法国车总在无论是在外观还是内饰的设计上给人以浪漫优雅的感觉。这辆体现的淋漓尽致。内饰工艺上法式双缝线打孔工巧，彰显身份和独到的品位。空间基本满意，舒适性可以和天籁相比。”
                        .car-recom
                          span —— 车神：暮雨
                          a(href="#") 更多推荐理由 >
                        .share.clearfix
                          .share-button 
                        .car-stock 库存5辆
                  .car-box(data-share-content="", data-share-link-sina="",
                    data-share-link-weixin="", data-share-link-qq="",
                    data-share-link-qzone
                  )
                    .car-head
                      .car-time
                      .time
                        span 04
                        em :
                        span 55
                        em :
                        span 16
                      | <script>document.write('<a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm#content=' + encodeURIComponent(__qqClockShare.content) +'&time=' + encodeURIComponent(__qqClockShare.time) +'&advance=' + __qqClockShare.advance +'&url=' + encodeURIComponent(__qqClockShare.url) + '" target="_blank"><div class="remind"><i></i><span>开秒提醒我</span></div></a>');</script>

                    a.car-title(href="#") 雪铁龙-2014款-全新爱丽舍-1.6L-自动-时尚版
                    .car-wrap.clearfix
                      .car-pic
                        img(src="../../assets/images/double11/xuetielong.png")
                      .car-detail
                        .price
                          i ￥
                          span.price-num 7.98
                          em 万
                        p “ 法国车总在无论是在外观还是内饰的设计上给人以浪漫优雅的感觉。这辆体现的淋漓尽致。内饰工艺上法式双缝线打孔工巧，彰显身份和独到的品位。空间基本满意，舒适性可以和天籁相比。”
                        .car-recom
                          span —— 车神：暮雨
                          a(href="#") 更多推荐理由 >
                        .share.clearfix
                          .share-button 
                        .car-stock 库存5辆
                li
                  .car-box(data-share-content="", data-share-link-sina="",
                    data-share-link-weixin="", data-share-link-qq="",
                    data-share-link-qzone
                  )
                    .car-head
                      .car-time
                      .time
                        span 04
                        em :
                        span 55
                        em :
                        span 16
                      | <script>document.write('<a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm#content=' + encodeURIComponent(__qqClockShare.content) +'&time=' + encodeURIComponent(__qqClockShare.time) +'&advance=' + __qqClockShare.advance +'&url=' + encodeURIComponent(__qqClockShare.url) + '" target="_blank"><div class="remind"><i></i><span>开秒提醒我</span></div></a>');</script>

                    a.car-title(href="#") 雪铁龙-2014款-全新爱丽舍-1.6L-自动-时尚版
                    .car-wrap.clearfix
                      .car-pic
                        img(src="../../assets/images/double11/xuetielong.png")
                      .car-detail
                        .price
                          i ￥
                          span.price-num 7.98
                          em 万
                        p “ 法国车总在无论是在外观还是内饰的设计上给人以浪漫优雅的感觉。这辆体现的淋漓尽致。内饰工艺上法式双缝线打孔工巧，彰显身份和独到的品位。空间基本满意，舒适性可以和天籁相比。”
                        .car-recom
                          span —— 车神：暮雨
                          a(href="#") 更多推荐理由 >
                        .share.clearfix
                          .share-button 
                        .car-stock 库存5辆
                  .car-box(data-share-content="", data-share-link-sina="",
                    data-share-link-weixin="", data-share-link-qq="",
                    data-share-link-qzone
                  )
                    .car-head
                      .car-time
                      .time
                        span 04
                        em :
                        span 55
                        em :
                        span 16
                      | <script>document.write('<a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm#content=' + encodeURIComponent(__qqClockShare.content) +'&time=' + encodeURIComponent(__qqClockShare.time) +'&advance=' + __qqClockShare.advance +'&url=' + encodeURIComponent(__qqClockShare.url) + '" target="_blank"><div class="remind"><i></i><span>开秒提醒我</span></div></a>');</script>

                    a.car-title(href="#") 雪铁龙-2014款-全新爱丽舍-1.6L-自动-时尚版
                    .car-wrap.clearfix
                      .car-pic
                        img(src="../../assets/images/double11/xuetielong.png")
                      .car-detail
                        .price
                          i ￥
                          span.price-num 7.98
                          em 万
                        p “ 法国车总在无论是在外观还是内饰的设计上给人以浪漫优雅的感觉。这辆体现的淋漓尽致。内饰工艺上法式双缝线打孔工巧，彰显身份和独到的品位。空间基本满意，舒适性可以和天籁相比。”
                        .car-recom
                          span —— 车神：暮雨
                          a(href="#") 更多推荐理由 >
                        .share.clearfix
                          .share-button 
                        .car-stock 库存5辆
        .prise-list
          .list-cont
            .red-pack
              .title Top10红包排行榜（截止11月9日，每小时刷新）
              ul
                li.number-one
                  i 1 
                  ins 万人迷
                  span 汽水哇哈哈得到朋友宠爱，已筹集到
                  em 10000
                  span 元购车红包
                li
                  i 2 
                  span 183****9000得到朋友宠爱，已筹集到
                  em 10000
                  span 元购车红包
                li
                  i 3 
                  span 183****9000得到朋友宠爱，已筹集到
                  em 10000
                  span 元购车红包
                li
                  i 4 
                  span 183****9000得到朋友宠爱，已筹集到
                  em 10000
                  span 元购车红包
                li
                  i 5
                  span 183****9000得到朋友宠爱，已筹集到
                  em 10000
                  span 元购车红包
                li
                  i 6
                  span 183****9000得到朋友宠爱，已筹集到
                  em 10000
                  span 元购车红包
                li
                  i 7
                  span 183****9000得到朋友宠爱，已筹集到
                  em 10000
                  span 元购车红包
                li
                  i 8 
                  span 183****9000得到朋友宠爱，已筹集到
                  em 10000
                  span 元购车红包
                li
                  i 9 
                  span 183****9000得到朋友宠爱，已筹集到
                  em 10000
                  span 元购车红包
                li
                  i 10 
                  span 183****9000得到朋友宠爱，已筹集到
                  em 10000
                  span 元购车红包
              .explain 说明：排行榜第一的用户，有优先购买活动车辆的机会
            .seckill
              .title 秒杀战况
              .seckill-wrap
                .my-red 
                  h1 哇~我点赞分享筹集的红包：
                  h2 ￥1000元
                  .red-share.clearfix
                    .tit 战果累累！赶快分享炫耀一把：
                    .jiathis_style_32x32    
                      a.jiathis_button_tsina
                      a.jiathis_button_weixin
                      a.jiathis_button_cqq
                      a.jiathis_button_qzone
                ul
                  li.clearfix.
                    <div class="number">1</div>
                    <p>汽水哈哈 筹集红包<em>100</em>元，最终成功秒杀北京汽车-2013款-绅宝D70-2.3T-自动-精英版。帮赞的朋友有饭吃咯~    </p> 
                  li.clearfix.
                    <div class="number">2</div>
                    <p>汽水哈哈 筹集红包<em>100</em>元，最终成功秒杀北京汽车-2013款-绅宝D70-2.3T-自动-精英版。帮赞的朋友有饭吃咯~</p>   
                  li.clearfix.
                    <div class="number">3</div>
                    <p>汽水哈哈 筹集红包<em>100</em>元，最终成功秒杀北京汽车-2013款-绅宝D70-2.3T-自动-精英版。帮赞的朋友有饭吃咯~</p> 
                  li.clearfix.
                    <div class="number">4</div>
                    <p>汽水哈哈 筹集红包<em>100</em>元，最终成功秒杀北京汽车-2013款-绅宝D70-2.3T-自动-精英版。帮赞的朋友有饭吃咯~</p>
                  li.clearfix.
                    <div class="number">5</div>
                    <p>汽水哈哈 筹集红包<em>100</em>元，最终成功秒杀北京汽车-2013款-绅宝D70-2.3T-自动-精英版。帮赞的朋友有饭吃咯~</p> 
                  li.clearfix.
                    <div class="number">6</div>
                    <p>汽水哈哈 筹集红包<em>100</em>元，最终成功秒杀北京汽车-2013款-绅宝D70-2.3T-自动-精英版。帮赞的朋友有饭吃咯~</p> 
                  li.clearfix.
                    <div class="number">7</div>
                    <p>汽水哈哈 筹集红包<em>100</em>元，最终成功秒杀北京汽车-2013款-绅宝D70-2.3T-自动-精英版。帮赞的朋友有饭吃咯~</p>
                  li.clearfix.
                    <div class="number">8</div>
                    <p>汽水哈哈 筹集红包<em>100</em>元，最终成功秒杀北京汽车-2013款-绅宝D70-2.3T-自动-精英版。帮赞的朋友有饭吃咯~</p>
                  li.clearfix.
                    <div class="number">9</div>
                    <p>汽水哈哈 筹集红包<em>100</em>元，最终成功秒杀北京汽车-2013款-绅宝D70-2.3T-自动-精英版。帮赞的朋友有饭吃咯~</p> 
                  li.clearfix.
                    <div class="number">10</div>
                    <p>汽水哈哈 筹集红包<em>100</em>元，最终成功秒杀北京汽车-2013款-绅宝D70-2.3T-自动-精英版。帮赞的朋友有饭吃咯~</p>
                  li.clearfix.
                    <div class="number">11</div>
                    <p>汽水哈哈 筹集红包<em>100</em>元，最终成功秒杀北京汽车-2013款-绅宝D70-2.3T-自动-精英版。帮赞的朋友有饭吃咯~</p>      
      .cars-mod
        .wrapper
          .hd
            img(src="../assets/images/double11/car-mod-hd-1.png")
          .bd
            .car-list.clearfix
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
      #half-off.cars-mod
        .wrapper
          .hd
            img(src="../assets/images/double11/car-mod-hd-2.png")
            .others
              .item(data-src="") 0-10万
              .item(data-src="") 10-20万
              .item(data-src="") 20-30万
              .item(data-src="") 30万以上
          .bd
            .car-list.clearfix
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
            .look-more
              a (href="#") 更多车型 >
      a.banner(href="")
        img(src="../assets/images/double11/danbao.png")
      #choice-car.cars-mod
        .wrapper
          .hd
            img(src="../assets/images/double11/car-mod-hd-3.png")
            .others
              .item(data-src="") 10-20万
              .item(data-src="") 20-30万
              .item(data-src="") 30万以上
          .bd
            .car-list.clearfix
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="")
              .car
                a.pic(href="")
                  img(src="http://cheniu.u.qiniudn.com/13810901988/cca1113b558a357c8b74830b212f5643?imageView2/1/w/240/h/160")
                a.title(href="") 日产 2008款 骐达1.6L-自动-智能型
                .price 促销价:￥<em>7.98</em>万
                .n-price <s>新车价:10.2万</s>
                a.go(href="#")
            .look-more
              a(href="#") 更多车型 >
      a.banner(href="")
        img(src="../../assets/images/double11/gotolist.png")
      #huodong-rule.banner
        img(src="../../assets/images/double11/desc.png")
      
    #footer
      .wrapper
        .foot-detail.clearfix
            .buycarguide.detail-item
                a.title(href="#") 购车指南
                a.art-link(href="#") 二手车靠谱吗
                a.art-link(href="#") 如何挑选二手车
                a.art-link(href="#") 二手车评测
                a.art-link(href="#") 二手车保养注意事项
            .security.detail-item
                a.title(href="#") 服务保障
                a.art-link(href="#") 全方位车辆检测
                a.art-link(href="#") 1年2万公里质保
                a.art-link(href="#") 7天无理由退车
                a.art-link(href="#") 1对1顾问购车
            .about.detail-item
                a.title(href="#") 关于我们
                a.art-link(href="#") 大搜车理念
                a.art-link(href="#") 加入我们
                a.art-link(href="#") 车牛
                a.art-link(href="#") 买车神器
            .contact.detail-item
                a.title(href="#") 联系我们
                a.art-link(href="#") 官方微信
                a.art-link(href="#") 新浪微博
                a.art-link(href="#") 门店地址：北京市海淀区世纪金源购物中心东区广场
        .friendlinks.clearfix
            a.links(href="#") 二手车网
            a.links(href="#") 北京汽车网
            a.links(href="#") 车易拍
            a.links(href="#") 天津二手车网
            a.links(href="#") 米胖汽车
            a.links(href="#") 二手车
            a.links(href="#") 2014汽车报价
            a.links(href="#") 海南二手车
            a.links(href="#") 二手车资讯
            a.links(href="#") 180迈汽车保养
            a.links(href="#") 中山二手车
            a.links(href="#") 力洋VIN码识别
            a.links(href="#") 杭州二手车
            a.links(href="#") 成都二手车
            a.links(href="#") 车险信息网
        p Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有      京 ICP备 13012136号 京公网安备 11010802013095号


    include double11/popup
    script.
      var double11Config = {
        likeUrl: ''
      };

    script.
      require(['souche/time-countdown'],function(TimeCountDown){
        TimeCountDown.init(".downCounter")
      })
      $(".state-pic span").on("click",function(){
            var index = $(this).attr("data-index")*1;
            $(".slide-viewport ul li").addClass("hidden");
            $(".slide-viewport ul li:nth("+(index-1)+")").removeClass("hidden")
      })
      $(".others .item").on("click",function(){
        $.ajax({
          url:$(this).attr("data-src"),
          success:function(html){
              $(this).closest(".cars-mod").find(".car-list").html(html)
          }
        })
      })
    script.
      require(['acts/double11/index'], function(Double11){
        Double11.init( double11Config );
      });
