.shop-head
	.wrap.clearfix
		a.auth-icon(
			target='_blank'
			href='/pages/onsale/car_shop.html?authshopCode=15658232617')
		.shop-info
			a.shop-name(
				target='_blank'
				href='/pages/onsale/car_shop.html?authshopCode=15658232617') 君合二手车行
			.shop-add
				.add 浙江宁波
		.danbao-service.hidden
			a.service-item(
				target='_blank'
				href='/pages/adviser.html')
				.danbao-icon
				.danbao-text