#footer
	style.
		#footer .wrapper{
			margin:0px;
			padding:0px;
			width:100%;
			text-align:center;
			background:white;
		}
		#footer .wrapper .footImg{
			text-align:center;
			width:100%;
			padding-top:40px;
			padding-bottom:30px;
		}
		#footer .wrapper .spliter{
			min-width:50px;
			text-align:center;
			display:inline-block;
			color:#717171;
		}
		#footer .wrapper .friendlinks{
			text-align:center;
		}
		#footer .wrapper .friendlinks a{
			display:inline;
			float:none;
		}
		#footer .wrapper p a{
			padding:0px;
			margin:0px;
			color:#717171;
		}
	.wrapper
		.footImg
			img(
				src='http://img.souche.com/files/default/01190102A4BB5CC4C5F033E407834AB5_1180x221.jpg')
		.friendlinks.clearfix
			a(
				target='_blank'
				href='http://www.zjmi.com/') 浙江物产集团
			a(
				target='_blank'
				href='http://www.zjmi.com/') 浙江物产集团
			a(
				target='_blank'
				href='http://www.zjmi.com/') 浙江物产集团
			a(
				target='_blank'
				href='http://www.zjmi.com/') 浙江物产集团
		p
		p
			| CopyRight © 2015 版权所有 元通二手车     浙ICP备:070089743 
			script 
		p 公司网址: yt.sites.souche.com     联系电话: 4008571000     通讯地址: 杭州市沈半路245号物产元通名车馆