doctype html
html
    head
        title 热力图
        script(src="http://res.souche.com/assets/js/lib/jquery-1.7.1.min.js?t=11")
        |<link href="http://res.souche.com/assets/css/bootstrap/bootstrap3.css?t=1150" rel="stylesheet" type="text/css" />
        |<link href="http://res.souche.com/assets/css/souche/reset.css?t=1150" rel="stylesheet" type="text/css" />
        |<link href="http://f2e.souche.com/assets/css/ui/tips.css?t=1150" rel="stylesheet" type="text/css" />
        |<link href="http://f2e.souche.com/assets/backend/jcrop/css/jquery.Jcrop.min.css" rel="stylesheet" type="text/css" />
        |<link href="http://f2e.souche.com/assets/backend/jquery-date-range-picker/daterangepicker.css" rel="stylesheet" type="text/css" />
        script(src="http://f2e.souche.com/assets/js/framework/heatmap/heatmap.js")
        script(src="http://f2e.souche.com/assets/backend/jcrop/js/jquery.Jcrop.min.js")

        script(src="http://f2e.souche.com/assets/backend/jquery-date-range-picker/moment.min.js")
        script(src="http://f2e.souche.com/assets/backend/jquery-date-range-picker/daterangepicker.js")
        style.
            .con{position:relative;font-size:14px;width:1190px;margin:0 auto;}
            .refer-page,.map,.jcrop-holder,.jcrop-container{position:absolute;left:0;top:0;width:1190px;height:4000px;}
            .refer-page{}
            .map{
            z-index:5;
            background:rgba(255,255,255,0.6);
            }
            canvas{opacity:0.8;}
            .date-picker-wrapper{z-index:1000;}
            .jcrop-holder{background:rgba(1,1,1,0) !important;z-index:10;}
            .area-p{position:absolute;background:#fff;opacity:0.6;text-align:center;font-size:14px;z-index:18;pointer-events:none;}
    body
        include header
        div.clearfix(style="width:1190px;margin:20px auto;")
            form#filter-form
                .form-group
                    label.control-label
                        | 选择页面
                        select#select.form-control
                            |<option value="http://www.souche.com" #{locals.url=='http://www.souche.com'?'selected':''}>首页</option>
                            |<option value="http://www.souche.com/pages/onsale/sale_car_list.html" #{locals.url=='http://www.souche.com/pages/onsale/sale_car_list.html'?'selected':''}>我要买车</option>
                            |<option value="http://www.souche.com/pages/caruser/sellCarNew.html" #{locals.url=='http://www.souche.com/pages/caruser/sellCarNew.html'?'selected':''}>我要卖车</option>
                            |<option value="http://www.souche.com/pages/onsale/match_car_list.html" #{locals.url=='http://www.souche.com/pages/onsale/match_car_list.html'?'selected':'false'}>买车顾问</option>
                            |<option value="http://www.souche.com/pages/choosecarpage/choose-car-detail.html" #{locals.url=='http://www.souche.com/pages/choosecarpage/choose-car-detail.html'?'selected':'false'}>详情</option>
                            |<option value="http://www.souche.com/pages/mobile/index.html" #{locals.url=='http://www.souche.com/pages/mobile/index.html'?'selected':'false'}>H5首页</option>
                            |<option value="http://www.souche.com/pages/mobile/walk-around.html" #{locals.url=='http://www.souche.com/pages/mobile/walk-around.html'?'selected':'false'}>H5随便逛逛</option>
                            |<option value="http://www.souche.com/pages/mobile/filter-car.html" #{locals.url=='http://www.souche.com/pages/mobile/filter-car.html'?'selected':'false'}>H5筛选二手车</option>
                            |<option value="http://www.souche.com/pages/mobile/custom-search.html" #{locals.url=='http://www.souche.com/pages/mobile/custom-search.html'?'selected':'false'}>H5买车顾问</option>
                            |<option value="http://www.souche.com/pages/mobile/sell-car.html" #{locals.url=='http://www.souche.com/pages/mobile/sell-car.html'?'selected':'false'}>H5我要卖车</option>
                            |<option value="http://www.souche.com/pages/mobile/center-fav.html" #{locals.url=='http://www.souche.com/pages/mobile/center-fav.html'?'selected':'false'}>H5个人中心</option>
                            |<option value="http://www.souche.com/pages/mobile/detail.html" #{locals.url=='http://www.souche.com/pages/mobile/detail.html'?'selected':'false'}>H5详情</option>
                    label.control-label
                        | 选择时间段
                        input#time.form-control(type="text",style="width:300px;",value="#{locals.time}")
                    button.btn.btn-default(type="submit") 提交

                    label.control-label
                        input#show-map(type="checkbox",checked="true")
                        | 显示热力图
        .summery(style="width:1200px;margin:0 auto;")
            .alert.alert-warning PV：<em id="pv_count"></em> UV：<em id="uv_count"></em>
        .con
            - 
            iframe.refer-page(src="#{locals.iframeurl}")
            .map#map
        script(src="http://f2e.souche.com/assets/js/souche/ui/loadingTip.js")
        script.
            var url = "#{locals.url?locals.url:"http://www.souche.com"}"
            var time = "#{locals.time?locals.time:""}"

        script(src="http://f2e.souche.com/assets/backend/js/clicks.js")
